<%- include('partials/header.ejs') %>

<div class="container mt-4">
    <h1 class="text-center">Bem-vindo ao Blog</h1>

    <!-- Filtro de Categoria -->
    <form method="GET" action="/" class="mb-4">
        <div class="form-group">
            <label for="category">Filtrar por Categoria</label>
            <select id="category" name="categoryId" class="form-control">
                <option value="">Todas as Categorias</option> <!-- Para permitir que todos os artigos sejam exibidos -->
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>" 
                        <%= category.id == selectedCategory ? 'selected' : '' %>> <!-- Marca a categoria selecionada -->
                        <%= category.title ? category.title : 'Sem nome' %> <!-- Exibe o nome da categoria ou 'Sem nome' se não houver -->
                    </option>
                <% }) %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Filtrar</button>
    </form>

    <!-- Lista de Artigos -->
    <div class="row">
        <% if (articles && articles.length > 0) { %>
            <% articles.forEach(article => { %>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title">
                                <a href="/<%= article.slug %>" class="text-decoration-none text-dark">
                                    <%= article.title %>
                                </a>
                            </h2>
                            <p class="text-muted">Publicado em: <%= new Date(article.createdAt).toLocaleDateString() %></p>
                        </div>
                        <div class="card-footer text-end">
                            <a href="/<%= article.slug %>" class="btn btn-primary">Ler artigo</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p class="text-muted">Nenhum artigo encontrado nesta categoria.</p>
        <% } %>
    </div>
    <div class="d-flex justify-content-end mt-4">
        <a href="/articles/page/2" class="btn btn-primary">Próxima Página</a>
    </div>
</div>

<%- include('partials/footer.ejs') %>
